apiVersion: apps/v1
kind: Deployment
metadata:
	name: myapp
spec:
	replicas: 2
	selector:
		matchLabels:
		app: myapp
	template:
		metadata:
			labels:
				app: myapp
		spec:
			containers:
			- name: myapp
			  image: 192.168.56.101:5000/myapp:1.0
			  ports:
			  - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
	name: myapp-service
spec:
	type: NodePort
	selector:
		app: myapp
	ports:
	- port: 80
	  targetPort: 8080
	  nodePort: 30080